.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #304ffe25 0px 7px 29px 0px;
}

.form input{
    width: 45%;
    margin: 10px;
    height: 20px;
    padding: 10px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    font-size: 1rem;
}

.form button{
    width: calc(95% + 20px);
    height: 40px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #4600968c; 
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.2s all ease-in-out;
}

.form button:hover {
    box-shadow: #9730fe50 0px 7px 29px 0px;
}

.alert{
    width: 100%;
    height: 40px;
    margin: 5px 0 25px;
}

.alert p {
    background-color: #ffbbbe;
    color: #f34336;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 919px) {
    .form input{
        width: 90%;
    }

    .form button {
        width: 93%;
    }
}